<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="ferret" sequenceNumber="7">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ca.mt.all.feature.group" version="0.0.0.20111112024524"/>
<repository location="http://manumitting.com/resources/p2"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.pde.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.pde.api.tools.ee.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
</locations>
</target>
